<table>
    <thead>
    <tr>
        <th *ngFor="let column of columns">{{ column.title || column.key }}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let element of dataSource">
        <ng-template #columnTemplate let-column="column">
            <ng-container *ngIf="column.template; else keyValueTemplate"
                          [ngTemplateOutlet]="column.template"
                          [ngTemplateOutletContext]="{ $implicit: element, column: column, key: column.key }">
            </ng-container>

            <ng-template #keyValueTemplate>{{ element[column.key] }}</ng-template>
        </ng-template>

        <td *ngFor="let column of columns | slice : 0 : initialCellCount; index as index">
            <ng-container *ngTemplateOutlet="columnTemplate; context: { $implicit: element, column: column }"></ng-container>
        </td>

        <ng-container *ngIf="columns[initialCellCount] as anchorColumn">
            <td #anchorCellElement [colSpan]="ifInViewport.value ? 1 : columns.length - initialCellCount">
                <ng-container *ngTemplateOutlet="columnTemplate; context: { $implicit: element, column: anchorColumn }"></ng-container>
            </td>

            <ng-template #ifInViewport="ifInViewport" [appIfInViewport]="anchorCellElement">
                <td *ngFor="let column of columns | slice : initialCellCount + 1">
                    <ng-container *ngTemplateOutlet="columnTemplate; context: { $implicit: element, column: column }"></ng-container>
                </td>
            </ng-template>
        </ng-container>
    </tr>
    </tbody>
</table>
